.homePage {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.mainBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    flex: 1;
}

.titles{
    position: fixed;
    top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttonsGame{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(2, 150px);
}

.buttonEasy {
    background-color: rgb(4, 97, 190);
}

.buttonMedium {
    background-color: rgb(11, 48, 122);
}

.buttonHard {
    background-color: rgba(196, 84, 9, 0.612);
}

.buttonExtreme {
    background-color: rgba(169, 6, 6, 0.667);
}